on: [push]
name: Common checks
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          cache: 'yarn'
      - run: yarn install --immutable --immutable-cache # If accept PR from third party in future, please also add --check-cache
      - name: Linting
        run: yarn lint
      - name: Type checking
        run: yarn ts:check
      - name: Check formatting
        run: yarn format:check
      - name: Run unit tests
        run: yarn test:ci
